@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "National 2 Web", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--sans-display: "Manuka", "National 2 Web", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--serif);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-black);
	--color-link: var(--color-black);
	--color-focus: var(--color-red);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-gray-300);
	--color-button-fg: var(--color-gray-900);
	--color-button-hover: var(--color-gray-400);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
@media screen and (prefers-color-scheme:dark) {
	:root {
		--color-bg: var(--color-gray-900);
		--color-fg: var(--color-gray-100);
		--color-primary: var(--color-white);
		--color-link: var(--color-white);
		--color-focus: var(--color-red);
		--color-mark: var(--color-yellow);
		--color-selection: var(--color-gray-600);
		--color-border: var(--color-gray-600);
		--color-button-bg: var(--color-gray-600);
		--color-button-fg: var(--color-gray-100);
		--color-button-hover: var(--color-gray-700);
		--color-input-bg: var(--color-gray-800);
		--color-input-fg: var(--color-gray-100);
		--color-placeholder: var(--color-gray-400);
		--color-text-outline: var(--color-bg);
	}
}

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

header #pudding-wordmark {
	fill: var(--color-gray-1000);
}

footer #pudding-wordmark {
	fill: var(--color-gray-100);
}

#gradientWhite {
	--color-stop-1: #FFFFFF;
	--color-stop-2: #FCFCFC;
	--color-stop-3: #F4F4F4;
	--color-stop-4: #E6E6E6;
	--color-stop-5: #E6E6E6;
}

#parkerBluePurple {
	--color-stop-1: #C7E6E6;
	--color-stop-2: #4A46A5;
}

#parkerYellowOrange {
	--color-stop-1: #F9E26E;
	--color-stop-2: #FF8A3A;
}

#eddPurpleYellow {
	--color-stop-1: #382E88;
	--color-stop-2: #574A76;
	--color-stop-3: #9F884E;
	--color-stop-4: #D3B630;
	--color-stop-5: #F3D21E;
	--color-stop-6: #FFDD17;  
}

#eddRedPurple {
	--color-stop-1: #D81F28;
	--color-stop-2: #AA2C51;
	--color-stop-3: #763A7E;
	--color-stop-4: #56439A;
	--color-stop-5: #4A46A5;
}

#stewartNeonBlack {
	--color-stop-1: #EEF91C;
	--color-stop-2: #ECF91C;
	--color-stop-3: #E5F71E;
	--color-stop-4: #E3F71E;
	--color-stop-5: #E1F51E;
	--color-stop-6: #DBEE1D;
	--color-stop-7: #D0E21B;
	--color-stop-8: #C0D119;
	--color-stop-9: #ACBB17;
	--color-stop-10: #93A013;
	--color-stop-11: #757F0F;
	--color-stop-12: #52590B;
	--color-stop-13: #2B2F06;
	--color-stop-14: #000000;
}

#stewartRuby {
	--color-stop-1: #BC1727;
	--color-stop-2: #B91727;
	--color-stop-3: #B11628;
	--color-stop-4: #A31529;
	--color-stop-5: #A01529;
}
